{sys, 
    [
    {lib_dirs,["/home/litao/erlang"]},
    {boot_rel, "erlips"}, 
    {rel, "erlips", "0.1", [kernel, stdlib, sasl, mochiweb, erlips]},
    {relocatable, true},
    %{profile, embedded},
    {profile, standalone},
    {app_file, keep},
    {debug_info, strip},
    {mod_cond, all},
    %{incl_cond, derived},
    {incl_cond, exclude},

    %{incl_sys_filters, [".*"]},

    {incl_app_filters, ["^include", "^priv", "^ebin", "^src"]},
    {excl_app_filters, []},

    {incl_archive_filters,[]},
    {excl_archive_filters,[".*"]},
    
    {app, kernel, [{incl_cond, include}]},
    {app, stdlib, [{incl_cond, include}]},
    {app, sasl, [{incl_cond, include}]},
    {app, erlips, [{incl_cond, include}, 
                    {incl_app_filters, [".*"]}, 
                    {excl_app_filters, ["^log", "^var", "^release"]}]},
    {app, mochiweb, [{incl_cond, include}]},
    {app, runtime_tools, [{incl_cond, include}]}
    ]
}.
